<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" class="contacto">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Contacto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="documentos">
      <ion-icon name="document"></ion-icon>
      <ion-label>Documentos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="enviar">
      <ion-icon name="send"></ion-icon>
      <ion-label>Enviar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
