<ion-header>
  <ion-toolbar>
    <ion-title>
      Datos de contacto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="https://placeimg.com/640/480/nature"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>PEC3</ion-card-subtitle>
        <ion-card-title>Bruno Orcha García</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Alumno de la asignatura Desarrollo front-end con framew. JavaScript aula 1.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
